@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pizzeria</h1>
    <p class="lead">Delicious pizza in Pizzeria awaits you! We have been preparing pizza for you since April 2021. During this time, we have launched seven establishments and have acquired many regular customers, which we are very happy about! We hope that you will appreciate the varied selection of pizzas, the quality of service and the very atmosphere pizzeria.</p>
    <p>@Html.ActionLink("Go to catalog", "Index", "Pizza", null, new { @class = "btn btn-warning btn-lg" })</p>
</div>
